@model List<Employees.Web.Models.EmployeeViewModel>

<style>
    table.dataTable tbody tr.even {
        background-color: lightgoldenrodyellow;
    }
</style>

@if (string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div class="container">
        <div>
            <table id="employeeHistory">
                <thead>
                    <tr>
                        <th>Employee ID #1</th>
                        <th>Employee ID #2</th>
                        <th>Project ID</th>
                        <th>Days worked</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var result in Model)
                    {
                        <tr>
                            <td>@result.FirstEmployeeID</td>
                            <td>@result.SecondEmployeeID</td>
                            <td>@result.ProjectID</td>
                            <td>@result.DaysWorked</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    <div class="alert alert-danger" role="alert">
         @ViewBag.ErrorMessage <a href="@Url.Action("Index", "Home")" class="alert-link">Go back to home page</a>.
    </div>
}

<script>
    $(document).ready(function () {
        $('#employeeHistory').DataTable({
            order: [[3, 'desc']],
            responsive: {
                details: {
                    type: 'column',
                    target: 1
                }
            },
            pagingType: 'simple',
            select: true,
        });
    });
</script>